{% extends "base.html" %}


{% block content %}
{% from "formhelpers.html" import render_field %}


<div class= "container">
    <div class="jumbotron p-3">

        <h2> Add Employee </h2>
        <hr>
    
        <form  method = "post">

            {{ render_field(form.name, class= "form-control") }}
            {{ render_field(form.surname, class= "form-control") }}
            {{ render_field(form.ssn, class= "form-control") }}
            {{ render_field(form.phone, class= "form-control") }}
            {{ render_field(form.employee_department, class= "form-control") }}
    
    
            <br>
            <button type="submit" class="btn btn-info"> Add new Employee</button>   
        </form>

        <br><br>


    </div>    

</div>


</div>







{% endblock %}

