{% extends "base.html" %}

{% block title %}  {% endblock %}

{% block content %}


<div class = "jumbotron text-center" >

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <h2 class="display-2">Kanguru Kargo</h2>
    <h4> Kanguru Kargo ailesi olarak önceliğimiz müşterilerimizin memnuniyetidir.  </h4>
    <hr>

    <img class="img-fluid" src="/static/1.png" alt="cargo">
    <img class="img-fluid" src="/static/1-4.png" alt="cargo">



</div>




{% endblock %}